/* import fonts  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mulish:wght@400;700;800&display=swap');



/* css reset  */

* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    box-sizing: border-box;
}


/* variables  */
:root {
    /* color related */
    --primary-color: #FF5400;
    --secondary-color: #131318;
    --primary-para-color: rgba(19, 19, 24, 0.70);
    --secondary-para-color: #5A5A5D;

    /* font size related  */
    --primary-heading: 2.5rem;
    --secondary-heading: 1.5rem;
    --para-font: 1rem;

    /* font weight related  */
    --small: 300;
    --normal: 400;
    --semi-bold: 700;
    --bolder: 800;
}


/* shared style  */

.btn-primary {
    color: #fff;
    background: var(--primary-color);
    font-size: var(--para-font);
    font-weight: var(--semi-bold);
    padding: 16px 34px;
    border: 0;
    padding: 14px 35px;
    border-radius: 8px;
}

.section-heading {
    color: var(--secondary-color);
    font-size: var(--primary-heading);
    font-weight: var(--bolder);
}

.secondary-heading {
    color: var(--secondary-color);
    font-weight: var(--secondary-heading);
    font-weight: var(--bolder);
}

.section-para {
    color: var(--primary-para-color);
    font-size: var(--para-font);
    font-weight: var(--normal);
    line-height: 1.6rem;
}


/* header styles starts here  */
.header {
    width: 81%;
    max-width: 1170px;
    margin: 0 auto;
}

/* nav styles  */
.navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
}

.navigation .website-title .website-main-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation .website-title .website-main-heading .title-left {
    color: var(--secondary-color);
    font-size: 2.3rem;
    font-weight: var(--bolder);
}

.navigation .website-title .website-main-heading .title-right {
    color: var(--primary-color);
    font-size: 2.3rem;
    font-weight: var(--bolder);
}



.navigation ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul li {
    list-style: none;
    margin-left: 44px;
}

.navigation ul li #home-nav-menu {
    color: var(--primary-color);
    font-weight: var(--semi-bold);
}

.navigation ul li a {
    text-decoration: none;
    color: #424247;
    font-size: 1.1rem;
    font-weight: var(--normal);
    transition: 0.5s;
}

.navigation ul li a:hover{
    color: #e59168;
}



/* banner styles starts here  */

.banner {
    width: 100%;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../images/banner-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
}

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    padding: 106px 0;
}

.banner-content h2 {
    color: #fff;
    font-size: 4rem;
    font-weight: var(--bolder);
    margin-bottom: 24px;
}

.banner-content p {
    max-width: 676px;
    color: #fff;
    margin: 0 auto;
    font-size: var(--para-font);
    font-weight: var(--normal);
    line-height: 1.6rem;
    margin-bottom: 48px;
}

.banner-content .input-find-now {
    width: 800px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    position: relative;
}

.banner-content .input-find-now .find-input {
    display: inline-block;
    font-size: var(--para-font);
    color: rgba(19, 19, 24, 0.50);
    width: 21%;
    max-width: 174px;
    height: 52px;
    border: 0;
    padding: 14px;
    border-radius: 8px;
    background: #FFF;
    outline: none;
}

.banner-content .input-find-now select{
    -webkit-appearance: none;
}
.banner-content .input-find-now .arrow1{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 53%;
    left: 45%;
    transform: translate(-47%, -55%);
}
.banner-content .input-find-now .arrow2{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 45%;
    left: 68%;
    transform: translate(-55%, -32%);
}

.banner-content .input-find-now .btn-banner {
    width: 21%;
    max-width: 174px;
    height: 52px;
    position: relative;
}


.banner-content .input-find-now .btn-banner img{
    position: absolute;
    top: 70%;
    left: 10%;
    transform: translate(-0%, -90%);
}



/* main styles starts here  */
main {
    width: 81%;
    max-width: 1170px;
    margin: 0 auto;
}



/* culture styles starts here  */
.culture{
    width: 100%;
    margin: 100px auto;
}
.culture .culture-content{
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}
.culture .culture-content h3{
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 16px;
}

.culture .culture-content p{
    margin-bottom: 24px;
}

.culture .culture-image img{
    width: 100%;
    border-radius: 16px;
    filter: grayscale(80%);
    transition: 0.5s;
}

.culture .culture-image img:hover{
    filter: none;
}


/* popular tour styles starts here  */
.popular-tours {
    display: flex;
    justify-content: space-between;
    gap: 53px;
    margin-top: 100px;
}

.popular-tours .popular-tours-content {
    width: 50%;
    max-width: 576px;
}

.popular-tours .popular-tours-content ul {
    color: var(--primary-para-color);
    font-size: var(--para-font);
    font-weight: var(--normal);
    line-height: 1.6rem;
    padding-left: 20px;
}

.popular-tours .popular-tours-content ul li {
    max-width: 525px;
    margin-bottom: 16px;
}

.popular-tours .popular-tours-content p {
    margin: 24px 0;
    color: var(--primary-para-color);
}

.popular-tours .popular-tours-content .last-para {
    margin-top: 8px;
}

.popular-tours .popular-tours-content .btn-primary {
    margin-top: 8px;
}

.popular-tours .popular-tours-image {
    width: 50%;
    max-width: 576px;
    border-radius: 16px;
    background: url(../images/ptours.png) lightgray 50%/cover no-repeat;
}



/* destination styles starts here  */
.destination {
    margin: 100px auto;
}

.destination .destination-content {
    max-width: 643px;
    margin: 0 auto;
    text-align: center;
}

.destination .destination-content p {
    margin-top: 24px;
    margin-bottom: 48px;
    color: var(--primary-para-color);
}

.destination .destination-collage {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 300px 286px 300px;
    gap: 24px;
}

.destination .destination-collage .destiny1 {
    grid-column: 1/span 6;
    position: relative;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/destiny1.png), lightgray 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
}

.destination .destination-collage .destiny1::after {
    content: "Maldives";
    color: #fff;
    font-size: 1.7rem;
    font-weight: var(--bolder);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.destination .destination-collage .destiny2 {
    grid-column: 7/span 6;
    position: relative;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/destiny2.png), lightgray 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
}

.destination .destination-collage .destiny2::after {
    content: "Indonesia";
    color: #fff;
    font-size: 1.7rem;
    font-weight: var(--bolder);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.destination .destination-collage .destiny3 {
    grid-column: 1/span 4;
    position: relative;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/destiny3.png), lightgray 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
}

.destination .destination-collage .destiny3::after {
    content: "Srilanka";
    color: #fff;
    font-size: 1.7rem;
    font-weight: var(--bolder);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.destination .destination-collage .destiny4 {
    grid-column: 5/span 5;
    position: relative;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/destiny4.png), lightgray 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
}

.destination .destination-collage .destiny4::after {
    content: "North America";
    color: #fff;
    font-size: 1.7rem;
    font-weight: var(--bolder);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.destination .destination-collage .destiny5 {
    grid-column: 10/span 3;
    position: relative;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/destiny5.png), lightgray 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
}

.destination .destination-collage .destiny5::after {
    content: "Kashmir";
    color: #fff;
    font-size: 1.7rem;
    font-weight: var(--bolder);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.destination .destination-collage .destiny6 {
    grid-column: 1/span 5;
    position: relative;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/destiny6.png), lightgray 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
}

.destination .destination-collage .destiny6::after {
    content: "Bangladesh";
    color: #fff;
    font-size: 1.7rem;
    font-weight: var(--bolder);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.destination .destination-collage .destiny7 {
    grid-column: 6/span 7;
    position: relative;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/destiny7.png), lightgray 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
}

.destination .destination-collage .destiny7::after {
    content: "Bandarban";
    color: #fff;
    font-size: 1.7rem;
    font-weight: var(--bolder);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.destination .destination-collage img {
    width: 100%;
    border-radius: 16px;
}





/* why choose us section starts here  */
.why-choose-us {
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
}

.why-choose-us .coose-us-content {
    max-width: 640px;
    margin: 0 auto;
}

.why-choose-us .coose-us-content h3 {
    margin-bottom: 24px;
}

.why-choose-us .coose-us-content p {
    margin-bottom: 48px;
    color: var(--primary-para-color);
}

.why-choose-us .choose-us-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.why-choose-us .choose-us-cards .choose-us-card-1 {
    width: 48%;
    max-width: 573px;
    padding: 32px 55px 32px 32px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    text-align: left;
}

.why-choose-us .choose-us-cards .choose-us-card-2 {
    width: 48%;
    max-width: 573px;
    padding: 32px 55px 32px 32px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    text-align: left;
}

.why-choose-us .choose-us-cards .choose-us-card-3 {
    width: 48%;
    max-width: 573px;
    padding: 32px 55px 32px 32px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    text-align: left;
}

.why-choose-us .choose-us-cards h4 {
    margin-bottom: 16px;
    margin-top: 32px;
}

.why-choose-us .choose-us-cards p {
    color: var(--secondary-para-color);
}




/* deals and discount styles  */
.deals {
    max-width: 1170px;
    margin: 100px auto;
    text-align: center;
}

.deals .deals-content {
    max-width: 643px;
    margin: 0 auto;
}

.deals .deals-content h3 {
    margin-bottom: 24px;
}

.deals .deals-content p {
    margin-bottom: 48px;
    color: var(--primary-para-color);
}


.deals-images {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.deals-images .location{
    display: flex;
    justify-content: flex-start;
    gap: 24px;
}
.deals-images .location span{
    display: flex;
    align-items: center;
}

.deals .deals-images .deals-images-container-1 {
    display: flex;
    justify-content: flex-end;
    background: url(../images/deals1.png), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    padding: 56px;
}

.deals .deals-images .deals-images-container-1 .deals-card {
    max-width: 579px;
    padding: 52px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    text-align: left;
}

.deals .deals-images .deals-images-container-1 .deals-card .location {
    color: var(--secondary-para-color);
    font-size: var(--para-font);
    font-weight: var(--normal);
    margin-bottom: 26px;
}

.deals .deals-images .deals-images-container-1 .deals-card h4 {
    margin-bottom: 16px;
}

.deals .deals-images .deals-images-container-1 .deals-card .section-para {
    margin-bottom: 16px;
    max-width: 552px;
}

.deals .deals-images .deals-images-container-1 .deals-card .price {
    margin-bottom: 24px;
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: var(--bolder);
}

.deals .deals-images .deals-images-container-2 {
    display: flex;
    justify-content: flex-start;
    background: url(../images/deals2.png), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    padding: 56px;
}

.deals .deals-images .deals-images-container-2 .deals-card {
    max-width: 579px;
    padding: 52px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    text-align: left;
}

.deals .deals-images .deals-images-container-2 .deals-card .location {
    color: var(--secondary-para-color);
    font-size: var(--para-font);
    font-weight: var(--normal);
    margin-bottom: 26px;
}

.deals .deals-images .deals-images-container-2 .deals-card h4 {
    margin-bottom: 16px;
}

.deals .deals-images .deals-images-container-2 .deals-card .section-para {
    margin-bottom: 16px;
    max-width: 552px;
}

.deals .deals-images .deals-images-container-2 .deals-card .price {
    margin-bottom: 24px;
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: var(--bolder);
}


.deals .deals-button {
    margin-top: 48px;
}



/* perfect place starts here  */

.perfect-place {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
    margin-bottom: 100px;
}

.perfect-place .place-content {
    width: 50%;
}

.perfect-place .place-content h3 {
    line-height: 3.8rem;
    max-width: 448px;
    margin-bottom: 24px;
}

.perfect-place .place-content ul {
    padding-left: 20px;
    margin-top: 24px;
    margin-bottom: 32px;
    max-width: 518px;
}

.perfect-place .place-content ul li {
    color: var(--secondary-color);
    font-size: var(--para-font);
    font-weight: var(--semi-bold);
    line-height: 1.6rem;
    margin-bottom: 16px;
}

.perfect-place .place-video {
    height: 100%;
    width: 50%;
    position: relative;

}

.perfect-place .place-video video {
    width: 100%;
    border-radius: 16px;
}



.perfect-place .place-video .text {
    position: absolute;
    max-width: 276px;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.5rem;
    font-weight: var(--semi-bold);
    line-height: 2.2rem;
}





/* newsletter styles  */
.newsletter {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.newsletter .news-content {
    width: 40%;
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.newsletter .news-content h4 {
    margin-bottom: 16px;
    font-size: var(--secondary-heading);
}

.newsletter .news-content p {
    max-width: 350px;
    padding-bottom: 24px;

}

.newsletter .news-content form {
    padding-top: 24px;
    border-top: 1px solid rgba(19, 19, 24, 0.10);
}

.newsletter .news-content form input {
    width: 100%;
    padding: 16px 20px;
    border: 0;
    outline: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin-bottom: 16px;
}

.newsletter .news-content form input[type="submit"] {
    color: #fff;
    background: #FF5400;
    font-size: 1.2rem;
    font-weight: var(--bolder);
    margin-top: 24px;
    margin-bottom: 0;
}


.newsletter .news-image {
    width: 60%;
    position: relative;
    background: url(../images/newsletter.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
}



.newsletter .news-image .discount {
    position: absolute;
    top: 70%;
    left: 65%;
    transform: translate(-30%, -35%) rotate(-19.628deg);
    width: 48%;
    height: auto;
    flex-shrink: 0;
    background-color: var(--primary-color);
    padding: 25px 25px;
    border-radius: 16px;
}

.newsletter .news-image .discount p {
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    font-weight: var(--normal);
}

.newsletter .news-image .discount .discount-title {
    color: #fff;
    text-align: center;
    font-size: 2rem;
    font-weight: var(--bolder);
}






/* footer styles start here  */
.footer {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background: rgba(19, 19, 24, 0.05);
}

.footer .footer-content {
    width: 68%;
    max-width: 872px;
    margin: 100px auto 50px;
    padding: 110px 0 50px;
    text-align: center;
    border-bottom: 1px solid rgba(19, 19, 24, 0.10);
}

.footer .footer-content .footer-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.footer .footer-content .footer-heading .title-left {
    font-size: 2rem;
    color: var(--secondary-color);
    font-weight: var(--bolder);
}

.footer .footer-content .footer-heading .title-right {
    font-size: 2rem;
    color: var(--primary-color);
    font-weight: var(--bolder);
}

.footer .footer-content p {
    margin-bottom: 32px;
}
.footer .footer-content .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer .copyright {
    width: 68%;
    max-width: 872px;
    margin: 0 auto;
    padding-bottom: 110px;
    text-align: center;

}

.footer .copyright small{
    font-family: 'Inter', sans-serif;
    color: var(--secondary-color);
    font-size: var(--para-font);
    font-weight: var(--small);
}

/* copyright font family */
/* font-family: 'Inter', sans-serif; */